@media (max-width:767px) and (min-width:415px){
  .slidza{
  	width: 70%;
  }
}
/*Iphone 5 - iphone 6*/
@media (max-width:374px) and (min-width:320px){
  .slidza{
  	width: 100%;
  	height:400px;
  }
  .right{
  	text-align: center;
  }
  
  .textOverlay{
  	font-size:20px;
  }
  .below-slideshow{
  	padding-bottom: 0;
  }
  .txtIznadSlike{
	font-size:26px;
  }
  .just-txt-div{
  	padding-bottom:15px;
  	padding-top: 10px;
  }
  .pad-set{
  	padding-bottom:0;
  	padding-top:0;
  }
  .slajd{
    height:375px!important;
   }
   .carousel-inner{
   	height: 375px!important;
   }
   .carousel-caption h3{
   	width: 0;
   	padding:170px 3px;
   }
   .dugme{
   	font-size:16px;
   }
   .bluec2{
   	margin-top: 20px;
   }
   .bluec1{
   	margin-top: 20px;
   }
   .slajder3 h3{
    position: absolute;

    right: 280%;
   }
   .slajder1 h3{
    padding: 180px 0px;
   }
   /*Promeni posle za sve telefone*/
}
/*Iphone 5 - iphone 6 kraj*/
/*Iphone 6 pocetak*/
@media (max-width:413px) and (min-width:375px){
  .slidza{
  	width: 95%;
  	height:430px;
  }
  .right{
  	text-align: center;
  }
  .textOverlay{
  	font-size:20px;
  }
  .below-slideshow{
  	padding-bottom: 0;
  }
  .txtIznadSlike{
	font-size:26px;
  }
  .just-txt-div{
  	padding-bottom:15px;
  	padding-top: 10px;
  }
  .pad-set{
  	padding-bottom:0;
  	padding-top:0;
  }
  .slajd{
    height:375px!important;
   }
   .carousel-inner{
   	height: 375px!important;
   }
   .carousel-caption h3{
   	width: 0;
   	padding:170px 20px;
   }
   .dugme{
   	font-size:19px;
   }
	.bluec2{
   	margin-top: 20px;
   }
   .bluec1{
   	margin-top: 20px;
   }
   .slajder3 h3{
    position: absolute;

    right: 260%;
   }
   .slajder1 h3{
    padding: 180px 0px;
   }
}
/*Iphone 6
 kraj*/
/*Iphone 6+ pocetak*/
@media (max-width:767px) and (min-width:414px){
  .slidza{
  	width: 95%;
  	height:430px;
  }
  .right{
  	text-align: center;
  }
  .textOverlay{
  	font-size:20px;
  }
  .below-slideshow{
  	padding-bottom: 0;
  }
  .txtIznadSlike{
	font-size:26px;
  }
  .just-txt-div{
  	padding-bottom:15px;
  	padding-top: 10px;
  }
  .pad-set{
  	padding-bottom:0;
  	padding-top:0;
  }
  .slajd{
    height:375px!important;
   }
   .carousel-inner{
   	height: 375px!important;
   }
   .slajder1 h3{
   	width: 0;
   	padding:170px 20px;
   }
   .slajder3 h3{
    position: absolute;
    right: -68%;
    top: 50%;
   }
   .dugme{
   	font-size:19px;
   }
   .bluec2{
   	margin-top: 20px;
   }
   .bluec1{
   	margin-top: 20px;
   }
}
/*Iphone 6+ kraj*/
@media (max-width:1023px) and (min-width:768px){
	#slikaPrva{
		width: 73%;
	}
	.txt1 p{
		margin-top:0;
	}
	.below-slideshow .txt-block{
		padding-top: 10px;
	}
	.parallax-like{
		background-attachment: scroll;
	}
	.txt3, .txt4{
		margin-top: 0;
	}
	.pading{
		padding:0;

	}
	.txt1 .front1{
		padding-left: 30px;
		padding-right: 18px;
	}
	.txt3 .front1{
		padding-left: 38px;
		padding-right: 30px;
	}
	.txt5 .front1{
		padding-left: 10px;
		padding-right: 16px;
	}
	.txt4 .front1{
		padding-left: 20px;
		padding-right: 30px;
	}
	  .flexible{
    display:flex;
    flex-direction: column;
    padding:0;
    margin: 0;
   }
   .a{
    order:2;
   }
   .b{
    order:1;
   }
   .just-txt-div{
   	padding-left: 30px;
   	padding-right: 30px;
   }
   .slajder1 h3{
   	padding: 304px 96px;
   }
   .slajder3 h3{
    position: absolute;
    right: 20%;
    top: 67%;
   }
   .bluec1{
   	margin-top: 0;
   }

.bluec2{
   	margin-top: 0;
   }
   .dugme{
   	font-size:28px;
   }
}
@media (max-width:1335px) and (min-width:1024px){
	.below-slideshow .txt-block{
		padding-top: 0;
	}
	.bluecAbout{
		margin-top: 0;
	}
	.bluec2{
		margin-top: 88px;
	}
	.bluec1{
		margin-top: 50px;
	}
}
/*Zajednicko za telefone*/
@media (max-width:414px) and (min-width:320px){
  .flexible{
    display:flex;
    flex-direction: column;
    padding:0;
    margin: 0;
   }
   .a{
    order:2;
   }
   .b{
    order:1;

   }
   footer{
   	text-align: center;
   }
   .bottom_ul li a{
   	font-size: 15px;
   }
    .parallax-like{
		background-position:0% 12%;
		background-attachment:scroll;
   }
   .right-div{
   	text-align: center;
   	float:none;
   }
   .pading{
   		width:100%;

   }
   
}
/*Zajednicko za telefone*/
