
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% Free To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US

    ========================================================  */

/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:20px;
}

h1,h2,h4 {
    font-family: 'Open Sans', sans-serif;
}
.just-txt-div {
      text-align: center;
    padding-bottom:30px;
    padding-top:30px;
}
    .just-txt-div p {
        padding-top:10px;
    }
.head-line {
    font-weight:500;
    text-align:center;
    text-transform:uppercase;
    font-size:30px;
    font-family: 'Lobster', cursive;
}
.txt1{
  background-color: #00b3cc;
  height: 420px;
  padding-right:0px!important;
      margin-top: 20px;
}
.txt5{
  background-color: #00a1be;
  height: 420px;
      margin-top: 20px;
}
.txt3{
  background-color: #0087aa;
  height: 420px;
      margin-top: 20px;
}
.txt4{
  background-color: #006d95;
  height: 420px;
      margin-top: 20px;
}
.front {
  height: 70px;
}
.bela{
  color:#FFF;
}
.margintop{
  height:350px!important;
}
.front1 {
  height:140px;
}
.pad-set {
  padding-top: 15px;
    padding-bottom: 15px;

}
.right{
  text-align: left;
}
.pad-top {
     padding-top:50px;
}
.pading{
  padding-right: 25px;
  padding-left:25px;
}
.txt3 .front1{
  padding-left: 3px;
  padding-right: 3px;
}
/* =============================================================
   NAVBAR & MENU STYLES
 ============================================================ */

.right-div {
    float: right;
    padding: 20px;
    font-size:20px;
}
.right-div a:hover{
  color:blue;
}
.navbar-header img {
  height: 100px;
  width: 244px;
}
.logofooter img{
  margin-bottom:15px;
}
.button23{
	background-color:#ccc;
}
.bluec{
  color:#52cbdc;
}
#menu-top a {
  font-weight: bold;
color: #000;
text-decoration: none;
font-weight: bold;
padding: 25px 15px 25px 15px;
text-transform: uppercase;
font-size: 16px;
font-weight: bolder;

}
.menu-section {
    background-color: #01b3cc;

    width:100%
}
.menu-top-active {
    background-color:#eeeeee;
}
.navbar-inverse {
background-color: #FFF;
border-color: rgba(155, 153, 153, 0.23);

}

.navbar {
    min-height: 70px;
    margin-bottom: 0px;

}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color:transparent;
}
.navbar-toggle {
background-color: black;
border: 1px solid black;
}


/* =============================================================
   SLIDESHOW / CAROUSEL STYLES
 ============================================================ */


.carousel-caption {
    top:50px;
}
    .carousel-caption h1 {
      text-align: center;
      font-size: 25px;
      font-weight: 900;
      text-transform: uppercase;
      background-color: #01b3cc;
      max-width: 440px;
      padding: 15px 25px;
      opacity: 0.68;
      border-radius: 7px;



    }

     .carousel-caption h2{
        text-align:center;
        font-size:22px;
        font-weight:900;
        text-transform:uppercase;
        background-color: #01b3cc;
        width:400px;
          padding:15px 25px;
          opacity: 0.68;
    }
    .carousel-caption h3{
       text-align:center;
       font-size:22px;
       font-weight:900;
       text-transform:uppercase;
       width:400px;
       padding:15px 25px;

   }
   .dugme{
     font-size:23px;
     font-weight: bold;
   }
   .slajder1{
     left:11%!important;
   }
   .slajder2{
     left:40%!important;
   }
   .slajder3{
     left:60%!important;
   }

   .carousel-inner > .item > img{
    height:564px;
   }
   .slidza{
    width: 100%;
   }

 /* =============================================================
    PAGE STYLES
 ============================================================ */
.below-slideshow {
    color:#fff;
    padding-bottom:50px;

}
.nopadding{
  padding-left:0px;
  padding-right: 0px;
}
    .below-slideshow i {
        padding-bottom:15px;
    }
    .below-slideshow .txt-block {
        text-align: center;
        padding-top:50px;
    }
     .below-slideshow h4 {
        font-weight:800;
        font-size:19px;
    }
    .below-slideshow p {

    }
.tag-home {
        margin-toP: 45px;
    font-size:30px;
    text-align:center;
    line-height:45px
}
blockquote{
    padding: 4px 20px!important;
}
.bold1{
  font-weight: bold;
}

.parallax-like {
margin-top: 20px;
margin-bottom: 20px;
background: url(../img/background1.jpg) no-repeat center center;
padding: 0;
-webkit-background-size: cover;
background-size: cover;
color: #fff;
background-attachment: fixed;
}
    .parallax-like .overlay {
        min-height:260px;
        background: rgba(15, 15, 15, 0.66);
        font-size:50px;


    }
    .vedio-style {
border: 0px;
width: 100%;
min-height: 300px;
}
.just-sec {

    padding-bottom:70px;
}
.set-div {
    border:1px solid #01a2a6;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    margin-bottom: 18px;
}
.h1class {
      font-size: 40px;
}
.txt2{
  text-align: center;
}
.txt2 h2 {
  margin-top: 68px;
color: #ffffff;
}
.footer-sec {
    margin-top:50px;
    padding-top:30px;
    color:#fff;
    background:#01b3cc;
    padding-bottom:20px;

}
.flexslider {
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
     -moz-box-shadow: 0 0px 0px rgba(0,0,0,0);
    -o-box-shadow: 0 0px 0px rgba(0,0,0,0);
    box-shadow: 0 0px 0px rgba(0,0,0,0);
}
.social-div a,a:hover{
    color:#fff;
    text-decoration:none;
}
.set-about-img {
    border:10px double #01a2a6;
     max-height:200px;
}
/*==========================================
   GALLERY/ PORTFOLIO STYLES
    =====================================================*/

#port-folio {
    padding-top: 80px;
    padding-bottom: 100px;
}
.portfolio-item {
    border:15px double #01a2a6;
    margin:3px;
}
    .portfolio-item p {
        padding:30px;
        color:#fff;
    }

.portfolio-item .overlay {
   position: absolute;
  top: 0;
  left: 0;
    width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #CECECE;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
  cursor:pointer;
  border-radius: 5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;

}
.portfolio-item .overlay .preview {
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}
.portfolio-item:hover .overlay {
  opacity: 1;
  zoom: 1;
	filter: alpha(opacity=100);
}
.overlay a,overlay a:hover{
    color:#fff;
    text-decoration:none;
}
#port-folio .overlay p > span {
    display:block;
    padding-bottom:20px;
}

/*==========================================
   GALLERY/ PORTFOLIO FILTER STYLES
    =====================================================*/
ul#filters {
	padding: 0px;
}
#filters {
	margin: 3% 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
	#filters li {
		display: -webkit-inline-box;
	}
	#filters li span {
		display: block;
		padding: 5px 4px;
		text-decoration: none;
		color: #d51111;
		cursor: pointer;
		font-size: 18px;
	}
 	#port-folio .portfolio-item {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		width: 100%;
        opacity:.2;
		float:left;
		overflow:hidden;
	}


/* =============================================================
  MEDIA QUERIES
 ============================================================ */


@media (min-width: 740px) and (max-width: 1040px) {
    .carousel-caption h2 {
        display: none;
    }
}

@media (min-width: 100px) and (max-width: 740px) {
    .carousel-caption h1 {
        display: none;
    }

    .carousel-caption h2 {
        display: none;
    }
}

.maximg{
  width: 701px;
  float: right;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { background-color:#006d95; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:15px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px; text-align: center;}
.footerleft p i { width:20px; color:##1b1b2d;}


.paddingtop-bottom {  margin-top:50px; text-align: center;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li {     border: 1px solid #FFF;
    line-height: 29px;
    font-size: 15px;
    padding: 4px;
    text-align: center;
    margin-bottom: 8px;
  }
.footer-ul li a { color:#ffffff; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }




 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}


 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:rgb(171, 171, 171); margin-bottom:22px; text-align: center;}
 .post p { font-size:15px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#FFF;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:16px;}
 .fb{
   color:#010473;
 }
 .btnblue{
   background: #428bca
 }
